.odd
{
    background-color: rgb(175, 70, 100);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second
{
    color: rgb(27, 27, 248);
    font-size: 36px;
}
.adjust-font
{
    font-size: 24px;
}
#fourth
{
    background-color: rgb(100, 175, 0);
    font-weight: 700;
}