body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 20px 5px 5px; 
}
.title, .content, .button-container
{
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.button-container {
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: 0 auto;
  display: block;
}